In [1]:
import pandas as pd

In [2]:
db = pd.read_csv('Book1.csv')

In [3]:
db.shape

(6, 3)

In [14]:
db

      name  time  marks
0      avi     9     90
1     yash     7     70
2     tinu     6     60
3     raja    10    100
4  baljeet     5     50
5   dinkey     3     30

In [8]:
db.head(-2)

   name  time  marks
0   avi     9     90
1  yash     7     70
2  tinu     6     60
3  raja    10    100

In [26]:
#yIs the target value that you want's to preduct

y=db['marks']

# x is the predictor(is the value which help us to predect the value)

x=db['time']

# converting panda array into numpy array because we wants to reshape it in short we wants to mmake it 2d-array which the fit function supports

x=x.values

x=x.reshape(6,1)


# you wants to predict the marks of rahul on the bases of no of hours they study lets take they study 8 hours a day

rahul = 8

In [31]:
#they are using the function y = w * x
from sklearn.linear_model import LinearRegression

In [23]:
mind=LinearRegression()

In [25]:
mind.fit(x , y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
# they will predict 80 as their experience 

mind.predict([[rahul]])

array([80.])

In [30]:
# to see the cofficient they find for us  

mind.coef_

array([10.])

In [33]:
# to save the model 

import joblib

joblib.dump(mind, 'marks.pk1')

['marks.pk1']